

.aboutUs__fondo{
    background-image: url('../../imagenes/tattooAboutUs(1).jpg');
    width: 100vw;
    background-color: white;
    height: 70vh;
    background-size: cover;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 768px){
    .aboutUs__fondo{
        background-position: center center;
        background-size: fill;
    }
}